* {
  margin: 0;
  padding: 0;
}

:root {
  --div-bg: #A0948B;
  --div-border: #6b5e66;
  --default-button: #e56132;
  --title-page: #efa360;
  --bg-page: #3F373C;
  --text-color-white: white;
  --text-color-black:black;
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--bg-page);
}

.header{
  margin: 50px;

  > h1{
    color: var(--title-page);
    font-size: 40px;
    margin: 10px;
  }

  > h3{
    font-size: 18px;
    color: var(--text-color-white);
    font-weight: lighter;
  }
  
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cards-participations{
  display: flex;
  flex-direction: row;
}

.card{
  width: 200px;
  height: 150px;
  background-color: var(--div-bg);
  margin: 15px;
  border-radius: 15px;

  > .itensCard{
    margin: 15px;
  }

  > .itensCard h1{
    font-size: 23px;
    font-weight: lighter;
  }
  
  > .itensCard p{
    margin-bottom: 15px;
    color: #8B6B52;
    font-size: 30px;
  }
}

.btnCount{
  background-color: #8B6B52;
  color: #DB9E69;
  border: none;
  border-radius: 7px;
  padding: 10px;
  width: 40px;
}

.btnCalc{
  background-color: var(--default-button);
  color: var(--text-color-black);
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  width: 150px;
}

.btnCalc:hover{
  background-color: var(--div-bg);
  transition: 0.2s ease-in;
}


button{
  margin: 4px;
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
}

.total{
  border: 1px solid #000;
  border-radius: 15px;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 17px;
  
}

